{% from "site/_formhelpers.html" import render_field %}

<div class="registration-bottom z-depth-1">
    <div class="container">
        <div class="show-button-section">
            <button class="btn white" id="toggle-registration">Registreren</button>
        </div>
        <div class="content-section">
            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="col-12">
                    <div class="form-input white z-depth-3">
                        {{ render_field(form.fname) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-input white z-depth-3">
                        {{ render_field(form.sname) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-input white z-depth-3">
                        {{ render_field(form.email) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-input white z-depth-3">
                        {{ render_field(form.password) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-input white z-depth-3">
                        {{ render_field(form.password_check) }}
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-input">
                        {{ form.captcha }}
                        {{ form.captcha.errors }}
                    </div>
                </div>

                <div class="col-12">
                        {{ form.submit(class_='btn white') }}
                </div>
            </form>
        </div>
    </div>
</div>