<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <!-- TODO: add something -->
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          {% if session.user %}
            <a class="mdl-navigation__link" href="">{{ session.user.sname }}</a>
          {% else %}
            <a class="mdl-navigation__link" href="{{ url_for('auth.login') }}">Login</a>
          {% endif %}
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div id="content" class="content_area">
              {% include 'site/flash_messages.html' with context %}
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </main>
    </div>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
