<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin panel</title>

    {% block head %}{% endblock %}
    <link href="{{ url_for('admin.static', filename='css/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/flat-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/main.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">{% block page_title %}{% endblock %}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('admin.index') }}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.groups') }}">Groups</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.users') }}">Users</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.locations') }}">Locations</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.modules') }}">Modules</a>
                    </li>
                </ul>
                <form role="search" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control">
                    </div>
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-default">Logout</a>
                    <a href="{{ url_for('auth.switch_role') }}" class="btn btn-default">Rollen</a>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="container">
            {% include 'site/flash_messages.html' with context %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('admin.static', filename='js/flat-ui.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
