<div class="row margin-top-20">
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Type</th>
                    <th>Gebouwd op</th>
                </tr>
                </thead>
                <tbody>
                {% if modules %}
                    {% for module in modules %}
                        <tr>
                            <td>
                                <a href="{{ url_for('admin.module', module_uuid=module.uuid) }}">{{ module.uuid }}</a>
                            </td>
                            <td>{{ module.type.type }}</td>
                            <td>{{ module.build_on }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        {% include 'modules/new_module.html' %}
    </div>

</div>