{% extends "site/base.html" %}

{% block page_title %}Module: {{ module.id }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Gebouwd op</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ module.id }}</td>
                        <td>{{ module.type.type }}</td>
                        <td>{{ module.build_on.strftime('%Y-%m-%d') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <hr>
        <h6>Plaats module op locatie</h6>
    </div>
</div>


{% endblock %}