<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plaats modules</h3>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('admin.new_module_location', module_id=module.uuid) }}" method="POST">
                <div class="margin-bottom-10">
                    <select class="width-100" name="location">
                        {% for loc in available_locations %}
                            <option value="{{ loc.id }}">{{ loc.address }}, {{ loc.city }} - {{ loc.unavailable_from }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="margin-bottom-10">
                    <input type="text" class="form-control" name="placed_on" id="start_datepicker" placeholder="Geplaatst op: yyyy-mm-dd" />
                </div>

                <div class="margin-bottom-10">
                    <input type="text" class="form-control" name="placed_til" id="end_datepicker" placeholder="Geplaatst tot (niet verplicht): yyyy-mm-dd" />
                </div>

                <button type="submit" class="btn btn-primary btn-sm">
                    Plaatsen
                </button>
            </form>
        </div>
    </div>
</div>