{% extends 'layout/base.html' %}
{% from "site/_formhelpers.html" import render_field %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h4>Living in a Woody</h4>
            <p>
            Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.

    Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt libero. Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium. Pellentesque auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Phasellus a est. Phasellus magna.

    In hac habitasse platea dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis ullamcorper velit. Phasellus gravida semper nisi. Nullam vel sem. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Sed hendrerit. Morbi ac felis. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Nunc nulla. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Donec venenatis vulputate lorem.
            </p>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-12">
                <h5>Registreren</h5>
            </div>

            <form method="POST" action="{{ url_for('auth.register') }}">
                {{ form.csrf_token }}

                <div class="col-md-12">
                    {{ render_field(form.fname) }}
                </div>

                <div class="col-md-12">
                    {{ render_field(form.sname, F) }}
                </div>

                <div class="col-md-12">
                    {{ render_field(form.email) }}
                </div>

                <div class="col-md-12">
                    {{ render_field(form.password) }}
                </div>

                <div class="col-md-12">
                    {{ render_field(form.password_check) }}
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.captcha }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        {{ form.submit(class_='btn btn-embossed btn-primary') }}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}