{% extends "site/base.html" %}

{% block page_title %}Users{% endblock %}

{% block content %}
    <div class="row">
        {% if users %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>

                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.fname }}</td>
                            <td>{{ user.sname }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">Nog geen gebruikers</div>
        {% endif %}
    </div>
{% endblock %}
