<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Admin panel - Login</title>
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash_messages">
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

      <form method="POST" action="{{ url_for('auth.login') }}">
  			<label for="username">Username</label>
  			<br/>
  			<input type="text" name="email" id="username">
  			<br/>
  			<label for="password">Password</label>
  			<br/>
  			<input type="password" name="password" id="password">
  			<br/>
  			<button type="submit">Sign In</button>
  			<br/>
  			<a href="#"><p class="small">Forgot your password?</p></a>
      </form>
</body>

</html>
