{% extends "site/base.html" %}

{% block page_title %}Locaties{% endblock %}

{% block content %}

    <div class="mdl-grid">

        <div class="mdl-cell--12-col">

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Stad</th>
                    <th class="mdl-data-table__cell--non-numeric">Adres</th>
                    <th class="mdl-data-table__cell--non-numeric">Beschrikbaar sinds</th>
                    <th>Beschrikbaar tot</th>
                    <th>Aantal modules</th>
                </tr>
                </thead>
                <tbody>
                {% if locations %}
                    {% for l in locations %}
                        <tr>
                            <td><a href="{{ url_for('admin.location', location_id=l.id) }}">{{ l.id }}</a></td>
                            <td class="mdl-data-table__cell--non-numeric">{{ l.city }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ l.address }}</td>
                            <td>{{ l.available_from }}</td>
                            <td>
                                {% if l.unavailable_from %}
                                    {{ l.unavailable_from.strftime('%Y-%m-%d') }}
                                {% else %}
                                    Nog geen datum
                                {% endif %}
                            </td>
                            <td>{{ Module_Location.select().where(Module_Location.location == l).where(Module_Location.end_date == None).count() }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="mdl-cell--12-col">
            {% include 'locations/new_location.html' %}
        </div>

    </div>

{% endblock %}

{#<class 'models.Module_Location.Module_Location'> SELECT `t1`.`module_id`, `t1`.`location_id`, `t1`.`start_date`, `t1`.`end_date` FROM `module_location` AS t1 WHERE (`t1`.`location_id` = %s) [9]#}
