{% extends "site/base.html" %}

{% block page_title %}Locaties{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
            {% if locations %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Stad</th>
                            <th>Adres</th>
                            <th>Beschrikbaar sinds</th>
                            <th>Beschrikbaar tot</th>
                            <th>Aantal modules</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for l in locations %}
                                <tr>
                                    <td><a href="{{ url_for('admin.location', location_id=l.id) }}">{{ l.id }}</a></td>
                                    <td>{{ l.city }}</td>
                                    <td>{{ l.address }}</td>
                                    <td>{{ l.available_from }}</td>
                                    <td>
                                        {% if l.unavailable_from %}
                                            {{ l.unavailable_from.strftime('%Y-%m-%d') }}
                                        {% else %}
                                            Nog geen datum
                                        {% endif %}
                                    </td>
                                    <td>{{ Module_Location.select().where(Module_Location.location == l).where(Module_Location.start_date <= datetime.now().date()).where(Module_Location.end_date > datetime.now().date()).count() }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">Nog geen locaties</div>
            {% endif %}
        </div>

        <div class="col-md-4">
            {% include 'locations/new_location.html' %}
        </div>

    </div>

{% endblock %}

{#<class 'models.Module_Location.Module_Location'> SELECT `t1`.`module_id`, `t1`.`location_id`, `t1`.`start_date`, `t1`.`end_date` FROM `module_location` AS t1 WHERE (`t1`.`location_id` = %s) [9]#}
