{% extends "site/base.html" %}

{% block page_title %}Locatie{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>UUID</th>
                        <th>Stad</th>
                        <th>Adres</th>
                        <th>Beschikbaar van</th>
                        <th>Beschikbaar tot</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ location.uuid }}</td>
                            <td>{{ location.city }}</td>
                            <td>{{ location.address }}</td>
                            <td>{{ location.available_from.strftime('%Y-%m-%d') }}</td>
                            <td>
                                {% if location.unavailable_from %}
                                    {{ location.unavailable_from.strftime('%Y-%m-%d') }}
                                {% else %}
                                    Nog geen datum
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12">
            <hr>
            <h6>Modules op deze locatie</h6>

            {% if location.modules %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Module ID</th>
                            <th>Geplaatst op</th>
                            <th>Geplaatst tot</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for module in current_placed_modules %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('admin.module', module_uuid=module.module.uuid) }}">{{ module.module.uuid }}</a>
                                    </td>
                                    <td>{{ module.start_date }}</td>
                                    <td>{{ module.end_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Nog geen modules geplaatst
            {% endif %}

        </div>

    </div>


{% endblock %}