{% extends "site/base.html" %}

{% block page_title %}Locatie: {{ location.address }} in {{ location.city }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Stad</th>
                    <th>Adres</th>
                    <th>Beschikbaar van</th>
                    <th>Beschikbaar tot</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ location.id }}</td>
                        <td>{{ location.city }}</td>
                        <td>{{ location.address }}</td>
                        <td>{{ location.available_from.strftime('%Y-%m-%d') }}</td>
                        <td>
                            {% if location.unavailable_from %}
                                {{ location.unavailable_from.strftime('%Y-%m-%d') }}
                            {% else %}
                                Nog geen datum
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <hr>
            <h6>Modules op deze locatie</h6>

            {% if location.modules %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Module ID</th>
                        <th>Geplaatst op</th>
                        <th>Geplaatst tot</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for module in location.modules %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('admin.module', module_id=module.module.id) }}">{{ module.module.id }}</a>
                                </td>
                                <td>{{ module.start_date }}</td>
                                <td>
                                    {% if module.end_date %}
                                        {{ module.end_date.strftime('%Y-%m-%d') }}
                                    {% else %}
                                        Staat er nog
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Nog geen modules geplaatst
            {% endif %}

        </div>

    </div>


{% endblock %}