<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nieuwe locatie</h3>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('admin.new_location') }}" method="POST">
                <div class="margin-bottom-10">
                    <div class="margin-bottom-10">
                        <input type="text" class="form-control" name="city" placeholder="Plaats" />
                    </div>

                    <div class="margin-bottom-10">
                        <input type="text" class="form-control" name="address" placeholder="Adres" />
                    </div>

                    <div class="margin-bottom-10">
                        <input type="text" class="form-control" name="available_from" placeholder="Beschikbaar vanaf: yyyy-mm-dd" />
                    </div>

                    <div class="margin-bottom-10">
                        <input type="text" class="form-control" name="unavailable_from" placeholder="Beschikbaar tot (niet verplicht): yyyy-mm-dd" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Toevoegen
                </button>
            </form>
        </div>
    </div>
</div>