<div class="padding-20 padding-top-0 mdl-shadow--2dp inline-block">
    <h6 class="mdl-typography--title">Nieuwe locatie</h6>
    <form action="{{ url_for('admin.new_location') }}" method="POST">
        <div class="margin-bottom-10">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="city" class="mdl-textfield__input" type="text" id="city">
                <label class="mdl-textfield__label" for="city">Stad</label>
            </div>
            {{ data }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="address" class="mdl-textfield__input" type="text" id="address">
                <label class="mdl-textfield__label" for="address">Adres</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="available_from" class="mdl-textfield__input" placeholder="yyyy-mm-dd" type="text" id="available_from">
                <label class="mdl-textfield__label" for="available_from">Beschikbaar vanaf</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="unavailable_from" class="mdl-textfield__input" placeholder="yyyy-mm-dd" type="text" id="unavailable_from">
                <label class="mdl-textfield__label" for="unavailable_from">Beschikbaar tot (niet verplicht)</label>
            </div>
        </div>

        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Toevoegen
        </button>
    </form>
</div>