{% extends "site/base.html" %}

{% block page_title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Gebruikers</h2>
                </div>
                <div class="panel-body">
                    <div>
                        Totaal gebruiksaantal: <b>{{ users_count }}</b>
                        <br>
                        Laatste geregistreerd op: <br>
                        <b>{{ last_registered_user.registered_on.strftime('%Y-%m-%d %H:%M') }}</b>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-sm" href="{{ url_for('admin.users') }}">
                            GEBRUIKERS
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Groepen</h2>
                </div>
                <div class="panel-body">
                    <div>
                        Totaal groepaantal: <b>{{ group_count }}</b>
                        {% if last_created_group %}
                            <br />
                            Laatst geregistreerde groep:
                            <br />
                            <br />
                            <b>{{ last_created_group.name }}</b> op <b>{{ last_created_group.created_on.strftime('%Y-%m-%d %H:%M') }}</b>
                        {% endif %}
                    </div>
                    <div>
                        <a class="btn-primary btn-sm" href="{{ url_for('admin.groups') }}">
                            GROEPEN
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Modules</h2>
                </div>
                <div class="panel-body">
                    <div>
                        Aantal modules: <b>{{ modules.count() }}</b>
                        {% if last_created_group %}
                            <br />
                            Laatst geregistreerde groep:
                        {% endif %}
                    </div>
                    <div>
                        <a class="btn-primary btn-sm" href="{{ url_for('admin.modules') }}">
                            MODULES
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
