.flash_messages {
  position: fixed;
  top: 0;
  left: 20%;
  right: 0;
  width: 60%;
  padding-top: 10px;

  .message {
    background-color: $light_blue500;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    color: $white;
    font-weight: bold;
  }
}


@media (max-width: $mobile) {
  .flash_messages {
    left: 5%;
    width: 90%;
  }
}