.registration-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: $indigo;

    .show-button-section {
        text-align: center;
    }

    .content-section {
        text-align: center;
        height: 100%;
        max-height: 0;
        opacity: 0;
        transition:  0.7s;

        &.show {
            max-height: 100vh;
            padding-top: 15px;
            opacity: 1;
        }
    }
}